<div class="title">
  <mat-icon class="btn-back" [routerLink]="['/admin']">arrow_back</mat-icon>
  <h4>Categories</h4>
</div>
<div class="admin-top">
  <form #createCategory="ngForm" (ngSubmit)="create(createCategory.value)">
    <input
      name="categoryName"
      ngModel
      #categoryName="ngModel"
      placeholder="Add new category"
    />
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="buttons--save"
    >
      Save
    </button>
  </form>
</div>

<div *ngFor="let cat of categories | async" class="wrap">
  <mat-toolbar class="category">
    <div>{{ cat.categoryName }}</div>
    <div class="buttons">
      <button mat-button class="btn-edit" (click)="openDialog(cat)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button class="btn-delete" (click)="delete(cat.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
