.admin {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    padding: 0rem 2rem;
    margin-top: 1rem;
    background-color: white;
    margin: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 6px -6px darkgrey;

    & form {
      display: flex;
      width: 320px;
      justify-content: space-between;

      & input {
        width: auto;

        border: 1px solid;
        padding: 10px;
        color: darkgray;
      }

      & button {
        background-color: #4caf50;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #36a765;
        }
        &:active {
          transform: translateY(3px);
        }
      }
    }

    & button {
      height: 30px;
      width: 150px;
      border-radius: 5px;
      color: white;
      background-color: #db7093;
      cursor: pointer;

      &:hover {
        background-color: #df668e;
      }

      &:active {
        transform: translateY(3px);
      }
    }
    & input {
      height: 30px;
      width: auto;

      border-radius: 5px;
      border: 1px solid;
      padding: 10px;
      color: darkgray;
    }
  }

  &-main {
    max-width: 100%;
    color: darkslategray;
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 1rem 2rem 1rem 2rem;

      height: 70px;
      border: 1px solid darkgray;
      border-radius: 1rem;
      background-color: white;
    }

    & img {
      height: 50px;
      width: 50px;
    }

    & li {
      display: flex;
      align-items: center;
    }

    & button {
      height: 30px;
      width: 150px;
      border-radius: 5px;
      background-color: darkslategray;
      color: white;
    }
  }
}

/////////////////////////////////////////
