.categories {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  font-size: 20px;
  font-family: monospace;
  width: 100%;
  padding: 3rem 0 3rem 0;

  &-row {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
  }
}



a {
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

a:hover {
  border: 1px solid blue;
  transition: ease-in-out 0.5s;
  border-radius: 1rem;
  background-color: azure;

}
