.card_wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 1 1 auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;

  @media (min-width: 40rem) {
    width: 50%;
  }

  @media (min-width: 56rem) {
    width: 33.333%;
  }

  &-image {
    height: 240px;
    width: -webkit-fill-available;
  }

  &-content {
    border: 1px solid #978ef8;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 172px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
  }

  &-info {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
  }
}

///////

.categories {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  font-size: 20px;
  font-family: monospace;
  width: 100%;
  padding: 3rem 0 3rem 0;

  &-row {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
  }
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
}

a:hover {
  border: 1px solid blue;
  transition: ease-in-out 0.5s;
  border-radius: 1rem;
  background-color: azure;
}

// .card-image {
//   height: 240px;
//   width: -webkit-fill-available;
// }

// @media (min-width: 40rem) {
//   .card {
//     width: 50%

//   }
//  };

// @media (min-width: 56rem) {
//   .card {
//     width: 33.333%
//   }
//  };

// .card-content {
//   border: 1px solid #978ef8;
//     border-bottom-left-radius: 7px;
//     border-bottom-right-radius: 7px;
//     height: 172px;
//     display: flex;
//     padding: 1rem;
//     flex-direction: column;
// }

// .card-info {
//   display: flex;
//   margin-top: auto;
//   justify-content: space-between;
// }
