<div class="admin-top">
  <button [routerLink]="['/admin']" type="submit" class="btn-save">Back</button>
</div>

<form class="form" [formGroup]="mealForm" (ngSubmit)="saveMeal()">
  <div class="form-image-field">
    <img
      *ngIf="imgUrl; else elseBlock"
      src="{{ imgUrl }}"
      alt="Photo"
      width="200px"
    />

    <ng-template #elseBlock>
      <img src="{{ meal$?.img }}" alt="Photo" width="200px" />
    </ng-template>
    <mat-toolbar>
      <input type="file" (change)="onFileSelected($event)" />
      <button mat-stroked-button color="primary">Browser</button>

      <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="onUpload()"
      >
        Add Photo
      </button>
    </mat-toolbar>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>{{ imgUrl }}</mat-label>
    <input matInput formControlName="img" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form--item">
    <mat-label>Category Name</mat-label>
    <mat-select formControlName="categoryId">
      <mat-option *ngFor="let cat of categories | async" [value]="cat.id">
        {{ cat.categoryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput formControlName="weight" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      formControlName="description"
      matInput
      placeholder="Fill description"
    ></textarea>
  </mat-form-field>

  <mat-slide-toggle formControlName="availability" color="primary"
    >Availability</mat-slide-toggle
  >
  <div class="buttons">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="buttons--save"
    >
      Save
    </button>
    <button mat-raised-button color="warn" [routerLink]="['/admin']">
      Cancel
    </button>
  </div>
</form>
