.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 150px;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 0;

  & input {
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: inherit;

  & button {
    height: 30px;
    width: 150px;
  }

  &--save {
    background-color: #4caf50;
  }
}

.form-image-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mat-form-field {
  width: 100%;
}

.mat-toolbar-single-row {
  position: relative;
  justify-content: space-between;

  & input {
    opacity: 0;
    position: absolute;
    width: 35%;
    height: 80%;
    z-index: 5;
  }
  & button {
    width: 35%;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
  }
}
