<div class="admin-top">
  <button [routerLink]="['/admin']" type="submit" class="btn-save">Back</button>
</div>

<form class="form" #f="ngForm" (ngSubmit)="saveMeal(f.value)">
  <div class="form-wrapper">
    <div class="form-top">
      <img *ngIf="imgUrl; else elseBlock" src="{{ imgUrl }}" alt="Photo" />
      <ng-template #elseBlock>
        <img src="{{ meal?.img }}" alt="Photo" />
      </ng-template>

      <input type="file" (change)="onFileSelected($event)" />
      <button type="button" (click)="onUpload()">Add Photo</button>
    </div>
    <input
      [(ngModel)]="imgUrl"
      [(ngModel)]="meal && meal.img"
      name="img"
      type="text"
      placeholder="Image"
    />
    <input
      [(ngModel)]="meal && meal.name"
      name="name"
      type="text"
      placeholder="Name"
    />
    <select
      [(ngModel)]="meal && meal.categoryId"
      name="categoryId"
      class="selector"
    >
      <option selected disabled>Choose the category</option>
      <option *ngFor="let c of categories | async" [value]="c.id">
        {{ c.categoryName }}
      </option>
    </select>
    <input
      [(ngModel)]="meal && meal.price"
      name="price"
      type="text"
      placeholder="Price"
    />
    <input
      [(ngModel)]="meal && meal.weight"
      name="weight"
      type="text"
      placeholder="Weight"
    />
    <input
      [(ngModel)]="meal && meal.description"
      name="description"
      type="text"
      placeholder="Please write a description about meal"
    />
    <div class="two-btn">
      <button class="btn-save">Save Meal</button>
      <button routerLink="/admin" class="cancel">Cancel</button>
    </div>
  </div>
</form>

<!-- <form class="form" #f="ngForm" (ngSubmit)="saveNewMeal(f.value)">
  <div class="form-wrapper">
    <label *ngFor="let c of categories">
      <input
        name="img"
        type="text"
        placeholder="Image"
        [value]="c.categoryName"
      />
      <button type="button" (click)="delete()" class="btn-save">Delete</button>
      <button class="btn-save">save</button>
    </label>
    <button class="btn-save">Save</button>
  </div>
</form> -->
