.footer {
  position: absolute;
  background-color: #333;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  height: auto;
  padding: 2rem;
  bottom: auto;
  font-weight: bold;
  margin-top: 2rem;

  // color: black;

  &-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif;
    align-items: center;
    color: white;
  }

  &-address {
  }

  &-name {
    font-size: 2rem;
  }
}

li {
  height: 2rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
