<!-- <footer class="footer">
  <div>
    <a href="#">Address:</a>
    <h4>Komarova 26a</h4>
    <h4>Komarova 26a</h4>
  </div>

  <div class="restaurant_name">
    <span>ADLER</span>
    <span>restaurant</span>
  </div>

  <div>
    <p>Wi-Fi: adler-2021</p>
  </div>
</footer> -->

<footer class="footer">
  <ul class="footer-block" *ngFor="let i of info">
    <div class="footer-address">
      <p>{{ i.address }}</p>
    </div>
    <div class="footer-name">
      <span>ADLER</span>
      <span>restaurant</span>
    </div>

    <li>Wi-Fi: {{ i.wiFi }}</li>
  </ul>
</footer>
